@font-face {
  font-family: "iconfont"; /* Project id 2568429 */
  src: url('iconfont.woff2?t=1622021037954') format('woff2'),
       url('iconfont.woff?t=1622021037954') format('woff'),
       url('iconfont.ttf?t=1622021037954') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinaixin:before {
  content: "\e612";
}

.icon-jia:before {
  content: "\e601";
}

